<div class="product-card">
  <a [routerLink]="['/products', product.slug]" class="product-image-link">
    <img class="product-image" [src]="product.primaryImageUrl || 'assets/img/placeholder.png'" [alt]="product.name">
  </a>

  <div class="product-content">
    <a [routerLink]="['/products', product.slug]" class="product-name">
      {{ product.name }}
    </a>

    <div class="product-rating">
      <i class="bi bi-star-fill star-icon"></i> {{ product.averageRating.toFixed(1) }}
      <span class="review-count">({{ product.reviewCount }})</span>
      </div>

    <div class="product-price">
      <span class="current-price">{{ product.price | number }}đ</span>
      <span class="old-price" *ngIf="product.oldPrice">{{ product.oldPrice | number }}đ</span>
    </div>

    <div class="product-actions">
       <a [routerLink]="['/products', product.slug]" class="btn btn-secondary btn-detail">Chi tiết</a>
       <button class="btn btn-primary btn-buy">Mua ngay</button>
     </div>

  </div>
</div>